<div class="row vh-100">
  <div class="col-md-4"></div>
  <div class="col-md-4 login-area">
    <form class="card w-100" (submit)="onSubmit($event)">
      <img
        height="40px"
        width="130px"
        src="../../../assets/images/logo-dark.png"
        alt="logo"
      />
      <h6 class="hidee err-msg" id="err">{{ errorText }}</h6>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email"
        id="email"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="Password"
        required
      />
      <input *ngIf="!loading" type="submit" value="Login" />
      <button *ngIf="loading" class="btn">
        <img src="../../assets/images/loader.gif" alt="" /> authenticating...
      </button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
