<div class="row mt-5">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="content">
      <app-sidebar [menuList]="menu"> </app-sidebar>
      <div class="card content-context">
        <h6 class="p-3">Tenant Information</h6>
        <hr />
        <ul class="context-contain">
          <li class="context">
            <div>Tell me</div>
            <div>something</div>
          </li>
          <li class="context">
            <div>Tell me</div>
            <div>something</div>
          </li>
          <li class="context">
            <div>Tell me</div>
            <div>something</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
