p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.vh-80 {
  height: 80vh;
}

.tenant-list {
  display: flex;
  gap: 30px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.tenant-list i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 1px #ada9a9;
  /* border-style: groove;
  border-color: #000080 !important;
  border-width: 10px !important; */
}

.tenant-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.tenant-container {
  cursor: pointer;
}

.tenant-list:hover {
  background-color: rgb(224, 240, 253);
}

.active-icon {
  color: #008000;
}

.inactive-icon {
  color: rgb(232, 223, 223);
}

.fixed-scroll-height {
  height: 60vh;
  overflow-y: scroll;
}

.tenant-summary p {
  font-weight: bold;
  font-size: 20px;
}
