<app-header></app-header>
<ngx-snackbar
  [position]="'bottom-center'"
  [max]="3"
  [timeout]="5000"
  [background]="snackbar_color"
  [accent]="'white'"
></ngx-snackbar>
<div class="row mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card vh-80 pt-4">
      <div class="col vh-80">
        <h5 class="mb-4">MeroeHP Tenants</h5>
        <input
          type="text"
          class="form-control mb-4"
          placeholder="Search by business name or fqdn"
          (input)="searchTenants($event)"
        />
        <ul class="tenant-container fixed-scroll-height">
          <li
            class="tenant-list"
            *ngFor="let tenant of filtered_tenant_list"
            (click)="this.navigateToTenantsDetails(tenant.tenant_name)"
          >
            <img
              *ngIf="tenant.tenant_logo == null"
              [src]="logo_url + tenant.tenant_name"
              alt="business name"
              class="avatar"
            />
            <img
              *ngIf="tenant.tenant_logo != null"
              [src]="tenant.tenant_logo"
              alt="business name"
              class="avatar"
            />
            <div class="tenant-summary">
              <p>{{ tenant.tenant_name }}</p>
              <small>{{ tenant.admin_name }}</small>
            </div>
            <i
              *ngIf="tenant.tenant_active"
              class="fa fa-check-circle active-icon"
            ></i>
            <i
              *ngIf="!tenant.tenant_active"
              class="fa fa-check-circle inactive-icon"
            ></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
